body {
  color: #222;
}

.hide {
  font-size: 0;
}

.wrap header {
  margin-bottom: 170px;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  width: 55px;
  height: 100vh;
  font-size: 0;
  background-color: #000;
}

header .all {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 100;
  display: block;
  width: 25px;
  height: 25px;
}

header .all span {
  position: relative;
  top: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: block;
  width: 25px;
  height: 5px;
  background-color: #fff;
}

header .all span:last-child {
  top: 10px;
}

header .nav {
  position: absolute;
  right: -100vw;
  z-index: 150;
  width: 100%;
  height: 100vh;
  background-color: #000;
}

header .nav:before {
  content: '';
  position: absolute;
  top: -8%;
  right: -5%;
  z-index: -1;
  width: 50vw;
  height: 120vh;
  background: url(../images/logo_w.png) no-repeat;
  opacity: 0.1;
}

header .nav.on {
  -webkit-transition: 1s;
  transition: 1s;
  top: 0;
  right: 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
}

header .nav.on nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav.on nav li {
  text-align: left;
  margin-bottom: 50px;
}

header .nav.on nav li a {
  font-weight: 700;
  font-size: 85px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 45px;
}

header .nav.on nav li a.gnb__active {
  color: white;
}

header .nav.on nav li a:hover {
  color: white;
}

header .nav.on .close {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 25px;
  height: 20px;
  background-color: transparent;
}

footer {
  width: calc(100vw - 55px);
  border-top: 1px solid #000;
}

footer .container {
  padding: 50px 0;
  margin: 0 auto;
  width: 1200px;
  height: auto;
  font-size: 0.9rem;
}

footer .container .copyright {
  float: left;
}

footer .container .by {
  float: right;
}

footer .container:after {
  content: '';
  display: block;
  clear: both;
}

.footer__next {
  background-color: #111;
}

.footer__next .container {
  width: 50%;
  margin: 0 auto;
}

.footer__next .container .footer__page {
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.5rem;
  display: block;
  color: rgba(255, 255, 255, 0.5);
}

.footer__next .container .footer__tit {
  display: inline-block;
  padding: 15px 0 0 0;
  height: auto;
  vertical-align: top;
  font-size: 1.7rem;
  color: #fff;
  line-height: 1.7rem;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.footer__next .container .footer__tit:hover {
  color: rgba(255, 255, 255, 0.7);
}

.footer__next .container .footer__tit:hover::after {
  opacity: 0.5;
}

.footer__next .container .footer__tit::after {
  content: '';
  position: absolute;
  top: 14px;
  right: -60px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 30px;
  height: 30px;
  background: url(../images/page_back.png) no-repeat;
  background-size: 100% auto;
}

@media only screen and (max-width: 768px) {
  header {
    height: 55px;
  }
  header .nav:before {
    content: '';
    position: absolute;
    top: -8%;
    right: -5%;
    z-index: -1;
    width: 50vw;
    height: 120vh;
  }
  header .nav.on {
    right: 0;
  }
  header .nav.on nav ul {
    width: 70%;
  }
  header .nav.on nav li {
    text-align: left;
    margin-bottom: 10px;
  }
  header .nav.on nav li a {
    font-weight: 700;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 65px;
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  footer .container {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 30px 0;
  }
  footer .container .copyright {
    float: none;
  }
  footer .container .by {
    float: none;
  }
}
/*# sourceMappingURL=depu_common.css.map */