.depu__home {
  width: calc(100% - 55px);
  font-size: 0;
}

.depu__home .container {
  width: 1200px;
  margin: 0 auto;
  padding: 200px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.depu__home .box__left {
  display: inline-block;
  width: 510px;
  height: auto;
  text-align: center;
  vertical-align: top;
}

.depu__home .box__left img {
  width: 130px;
}

.depu__home .box__right {
  display: inline-block;
  width: 690px;
  height: auto;
  text-align: left;
}

.depu__home .box__right li {
  font-weight: 300;
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 12px;
  display: block;
}

.depu__home .box__right li b {
  display: inline-block;
  color: #000;
}

.depu__home .box__right li.box__right--design span {
  padding-right: 5px;
}

.depu__home .box__right li.box__right--design span img {
  position: relative;
  top: 5px;
  width: 12rem;
}

.depu__home .box__right li.box__right--publishing b {
  position: relative;
  font-weight: 300;
}

.depu__home .box__right li.box__right--publishing b:before {
  content: '';
  position: absolute;
  top: 45px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 25px;
  background-color: #fedb01;
}

.depu__home .box__right li.box__right--publishing span {
  color: #0145ff;
}

.depu__all {
  width: calc(100% - 55px);
}

.depu__all section {
  width: 100%;
  font-size: 0;
}

.depu__all section .list {
  position: relative;
  display: inline-block;
  padding: 30% 0 0 0;
  width: 33.333%;
  height: auto;
  vertical-align: top;
}

.depu__all section .list:hover .inBox__border {
  display: block;
}

.depu__all section .list:hover .inBox {
  display: block;
}

.depu__all section .list:hover img {
  width: 85%;
}

.depu__all section .list img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  width: 80%;
}

.depu__all section .list .inBox {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border: 10px solid #000;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.depu__all section .list .inBox .inBox__txt {
  position: absolute;
  top: 50%;
  left: 40px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: left;
}

.depu__all section .list .inBox .inBox__txt strong {
  font-weight: 700;
  font-size: 13px;
  color: #fff;
  padding: 3px 7px;
  background-color: #0145ff;
}

.depu__all section .list .inBox .inBox__txt .txt {
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  line-height: 30px;
  padding: 8px 0 10px;
}

.depu__all section .list .inBox .inBox__txt .hidetxt {
  font-size: 18px;
  color: #fff;
  text-align: left;
  line-height: 22px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.depu__all section .list .hidetxt__btn {
  position: absolute;
  bottom: 0;
  z-index: 99;
  width: 100%;
  height: 50px;
  padding-left: 10px;
  background-color: #fedb01;
}

.depu__all section .list .hidetxt__btn button {
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: 800;
  font-size: 1rem;
  color: #000;
  text-align: left;
  line-height: 50px;
  padding-right: 20px;
  margin-right: 20px;
  cursor: pointer;
  opacity: 1;
}

.depu__all section .list .hidetxt__btn button:after {
  content: '\003E';
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: block;
  width: 14px;
  height: 14px;
  background-color: #000;
  border-radius: 7px;
  vertical-align: top;
  font-weight: 100;
  font-size: 11px;
  color: #fff;
  text-align: center;
  line-height: 14px;
}

.depu__all section .list .hidetxt__btn button:hover {
  color: #0145ff;
  text-decoration: underline;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.depu__all section .list .hidetxt__btn button:hover:after {
  background-color: #0145ff;
}

.depu__all section .list__color2 {
  background-color: rgba(0, 0, 0, 0.1);
}

.depu__all section.mSection1 .list img {
  top: 45%;
}

.depu__all section.mSection1 .list .inBox__txt {
  top: 45%;
}

.depu_index {
  width: calc(100vw - 55px);
}

.depu_index .wrap {
  overflow: visible;
  margin: 0 auto;
  width: 1200px;
  height: 100vh;
}

.depu_index .swiper-container {
  overflow: visible !important;
  height: 100vh;
}

.depu_index .swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.depu_index .swiper-container .swiper-slide:first-child section .section__right img {
  right: -65px;
}

.depu_index .swiper-container .swiper-slide section {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1200px;
  text-align: left;
}

.depu_index .swiper-container .swiper-slide section:after {
  content: '';
  display: block;
  clear: both;
}

.depu_index .swiper-container .swiper-slide section .section__left {
  float: left;
  width: 50%;
}

.depu_index .swiper-container .swiper-slide section .section__left .section__tit {
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 2.8rem;
  position: relative;
  display: inline-block;
  margin-left: 80px;
}

.depu_index .swiper-container .swiper-slide section .section__left .section__subtit {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1rem;
  padding: 40px 0 15px 80px;
}

.depu_index .swiper-container .swiper-slide section .section__left .section__subtit b {
  position: relative;
  margin-right: 5px;
  font-weight: 700;
}

.depu_index .swiper-container .swiper-slide section .section__left .section__subtit b:before {
  content: '';
  position: absolute;
  top: 11px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 8px;
  background-color: #fedb01;
}

.depu_index .swiper-container .swiper-slide section .section__left .section__desc {
  padding: 0 0 40px 80px;
  width: 420px;
  font-size: 0.9rem;
  line-height: 2.2rem;
}

.depu_index .swiper-container .swiper-slide section .section__left .section_btn {
  padding-left: 80px;
  font-size: 0;
}

.depu_index .swiper-container .swiper-slide section .section__left .section_btn button {
  display: block;
  padding: 0 20px 0 0;
  margin: 0 0 10px 0;
  height: auto;
  font-weight: bold;
  font-size: 1rem;
  color: #000;
  position: relative;
  text-decoration: initial;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.depu_index .swiper-container .swiper-slide section .section__left .section_btn button:after {
  content: '\003E';
  position: absolute;
  top: 2px;
  right: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: block;
  width: 14px;
  height: 14px;
  background-color: #000;
  border-radius: 7px;
  font-size: 11px;
  font-weight: 100;
  color: #fff;
}

.depu_index .swiper-container .swiper-slide section .section__left .section_btn button:hover {
  text-decoration: underline;
  color: #0145ff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.depu_index .swiper-container .swiper-slide section .section__left .section_btn button:hover:after {
  background-color: #0145ff;
}

.depu_index .swiper-container .swiper-slide section .section__right {
  float: left;
  position: relative;
  width: 50%;
  height: 350px;
}

.depu_index .swiper-container .swiper-slide section .section__right img {
  position: absolute;
  top: -65px;
  right: -70px;
  width: 120%;
}

.depu_index .swiper-container .swiper-slide section:after {
  content: '';
  display: block;
  clear: both;
}

.depu_index .swiper-pagination {
  right: 25px;
  top: 47%;
  z-index: 300;
}

.depu_index .swiper-pagination .swiper-pagination-bullet {
  display: block;
  background: #fff;
}

.depu_index .swiper-pagination .swiper-pagination-bullet + .swiper-pagination-bullet {
  margin-top: 10px;
}

.depu_index .swiper-pagination .swiper-pagination-bullet-active {
  background: #666;
}

@media only screen and (max-width: 768px) {
  .depu_index {
    width: 100%;
  }
  .depu_index .wrap {
    width: 100%;
  }
  .depu_index .swiper-container .swiper-slide section {
    width: 100%;
    height: 100vh;
  }
  .depu_index .swiper-container .swiper-slide section .section__left {
    float: none;
    position: absolute;
    top: 65%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 80%;
    margin: 0 auto;
  }
  .depu_index .swiper-container .swiper-slide section .section__left .section__tit {
    margin-left: 0;
  }
  .depu_index .swiper-container .swiper-slide section .section__left .section__subtit {
    padding: 15px 0 15px 0;
  }
  .depu_index .swiper-container .swiper-slide section .section__left .section__desc {
    padding: 0 0 20px 0;
    width: 100%;
    line-height: 1.8rem;
  }
  .depu_index .swiper-container .swiper-slide section .section__left .section_btn {
    padding-left: 0;
  }
  .depu_index .swiper-container .swiper-slide section .section__right {
    float: none;
    position: absolute;
    top: 38%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 80%;
    margin: 0 auto;
  }
  .depu_index .swiper-container .swiper-slide section .section__right img {
    width: 100%;
    right: 0 !important;
    top: 0;
  }
  .depu_index .swiper-pagination {
    display: none;
  }
}
/*# sourceMappingURL=depu.css.map */